<nav class="header-container">
    <img class="header-text" src="assets/images/LOREM.png" alt="LOREM">
    <div class="header-item">
        <mat-select disableOptionCentering style="width: 60px ;font-size: 10px;" [value]='selectedLanguage'>
            <mat-option style="font-size:10px" *ngFor="let language of languages" [value]="language">
            {{ language }}
           </mat-option>
          </mat-select>
        <button class="header-button">LOGIN</button>
        <button class="header-button">CREATE AN ACCOUNT</button>
        <div class="header-divider"></div>
        <button id="header-cart-icon"><img src="assets/images/cart-icon.png" alt=""></button>
        <button id="header-cart">CART</button>
    </div>  
 
</nav>
