<div class="popular-container">
    <h2 id="title">Popular Brand</h2>
    <h5 id="subtitle">Find out more about the world's top food are available all over the world today</h5>
    <div id="main-row1">
        <img src="assets/images/home/popular-burger.png" height="240px" width="450px" alt="burger">
        <div class="card">
        
            <div class="card-item">
                <img src="assets/images/home/popular-kfc.png" height="86px" width="86px" alt="kfc">
                <div class="text-column">
                    <div id="card-title">KFC</div>
                    <div id="card-subtitle">Latin American Bakery</div>
                </div>
            </div>
            <hr class="divider">
            <h6 id="card-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat purus sit amet lectus bibendum finbus vel. 
            </h6>
    
        </div>
    </div>
    <div id="main-row2">
        <img src="assets/images/home/oops-icon.jpg" height="80px" width="142px" alt="oops">
        <p class="oops-title">Oops!</p>
        <p class="oops-subtitle">No brands nearby change to other locations and try.
        </p>
    </div>
    <div class="button-row">
        <button id="all-button">All brands ></button>
        <div class="button-item2">
            <button class="arrow-button1" (click)="arrowButtonPressed(1)"><</button>
            <button class="arrow-button2" (click)="arrowButtonPressed(2)">></button>
        </div>
    </div>
   

</div>



